/***** course Section *****/

.section-services {
  background-color: #f0f8f5;
}

.section-services .grid {
  gap: 3.2rem;
}

.section-services .services-div {
  padding: 3.2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.section-services .services-div:hover {
  box-shadow: var(--btn-box-shadow);
  background-color: #e7f2ed;
}

.services-div .icon .iconImg {
  color: #68bf9b;
  background-color: #e7f6ef;
}

/***** End course Section *****/
