/***** course Section *****/

.section-course {
  background-color: var(--supporting-color);
}

.section-course .grid {
  gap: 3.2rem;
}

.section-course .course-div {
  padding: 3.2rem;
}

.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

/* .course-div {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.course-div .icon .iconImg {
  color: #68bf9b;
  background-color: #e7f6ef;
}

/***** End course Section *****/
